.Home {
  margin-bottom: 40px;
}

.Home__search, .Home__choose {
  text-align: center;
  margin: 30px 0;
}

.Home__choose {
  margin-bottom: 10px;
 }

.Home__list {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0;
  list-style: none;
}

.Home__list-item {
  margin: 5px 0;
  padding: 0;
  max-width: 33%;
}